.title {

    text-align: center;
    color:rgb(96, 176, 230);
    font-weight: lighter


}

.mybutton{

   width: 100px; 
   height: 50px; 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   border-radius: 2px;
  
   
}
:hover.mybutton {
    width: 103px;
    height: 53px;
    background-color: beige;

}

.completed span {
    text-decoration: line-through;
    color:deepskyblue;
    
}

.uncompleted span {
    color:goldenrod;
    font-weight: bold;
}

.taskslist {
    margin-top: 50px;
    text-align: center;
    
    border: 2px solid #ccc;
    
}

.task {
    margin: 10px;
    font-size: 18px;
}

.buttons{
    margin-left: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
}

.titlespan{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.totaltasks {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.statusmessage {
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
}